.container .navbar-brand, .navbar-nav .nav-item .nav-link {
    color: #ffffff;
}

.container .navbar-brand:hover, .navbar-nav .nav-item .nav-link:hover {
    transition: 0.8;
    color: #16ff00;
}

.greetings {
    position: relative;
}

.greetings::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100px;
    width: 440px;
    height: 2px;
    background-color: #000;
}

.bg-custom {
    background-color: #202020;
}

.bg-img {
    margin-top: -160px;
}

.white {
    color: #ffffff;
}

.floating {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-30px);
	}
	100% {
		transform: translatey(0px);
	}
}

#Services .fs-2 {
    margin-bottom: 30px;
}